*.DS_Store

# Laravel 5
/node_modules
/public/storage
/storage/*.key
/vendor
.idea
.env

*.log

# Static resources
public/mix-manifest.json
public/dist/*
!public/dist/.gitkeep

# Developement
.phpstorm.meta.php
_ide_helper.php
_ide_helper_models.php
.phpunit.result.cache
composer.phar
